<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliPayKey</key>
	<string>MIICeAIBADANBgkqhkiG9w0BAQEFAASCAmIwggJeAgEAAoGBALwQTp5ZfqWJdM5X
Wol/Tu9/Ubi65LSZ+GJGMRsvx200H9u48iZYdIxVCOg4M6LLnovAMRfZNTeNuyv+
hJlkC2fR4JcN1g+vNyARZXEnsusEo0DNGrTz6DpN8C5gNOlPqT9lOP7N6/ynZZDO
SlkG0JUWxDYrlvyAMmaUmwy/O7cBAgMBAAECgYEAtM801xeSJNNIIw5nNGTa3nZZ
erLtKhoSbWGw2sOQCBUiQBzLa0SGIVmsK5/FPVJpR1FrodMqUBQLDVwx3kwKjYsQ
1Jdhvkmdlwyij5brKwzvmkxMGeEq1wru2YD0rKEndblYzMS/YzGyY5O4graxKCFC
MqYuomB12ExTEbVOHVUCQQDmrO43Ptt+iMySsj2647SNuVgebWuBrO/MYb8hO2Ci
Y7xBm5ce1odoW+10RA2XD8mrp5mBMl8gGr+rBIOr9iqzAkEA0LXIpmUgMfL3Yjyg
wYvnEhsswb8gXXJnUS4DAsURL/Neak2nVdhrzb67rxoCnbvNUGiy0Kb+CSQgSYUf
JkuBewJAL1D7kCN5nIvtAo5DMUmx6HxDQgKJ0dCqY48NSIDIgqbYn9CNgArbPaHV
pEqtSvY3FNnNF/5AGvLBrA/B/o0BFwJBAJ87EWphnL5+794zAzKm2hQmR29JsheZ
QNnekM18LDC5LD9OH2yPQTAnZGmjHnvY3DuMpWArB4VR2pA80BcXZCECQQC9nZcu
LdqONfcIwjvd1d3KUa9eLhYSJhngEIfMhl/l3sHWnE8oZAxCGwplyYMgn22Tlitp
toodNtijE2fX4LgG</string>
	<key>aliPayPublicKey</key>
	<string>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCnxj/9qwVfgoUh/y2W89L6BkRAFljhNhgPdyPuBV64bfQNN1PjbCzkIM6qRdKBoLPXmKKMiFYnkd6rAoprih3/PrQEB/VsW8OoM8fxn67UDYuyBTqA23MML9q1+ilIZwBC2AQ2UBVOrFXfFl75p6/B5KsiNG9zpgmLCUYuLkxpLQIDAQAB</string>
	<key>passwordKey</key>
	<string>MIIE6TAbBgkqhkiG9w0BBQMwDgQIn8MREpuFFHcCAggABIIEyDgOp1I6wosRaV53
9/fQhZk0f+SQ+KruzhLPw6ONLse1pJavzDLXgipuO8JnBcN6ltH71bVAl0BfZ01F
f7uk3km+KCr1b/EaDQ0HFAEClB1v9bot1nruPSzF+wxgwbpvQLikzVLaDnIMBE4C
gQ68ig7NvZf6YJStWu1cfmc6CDsPFK98cV17kUzCaiE4y+O56CDomONom2eAX1bB
r3ByBTX9pwopTR0VtqBE7NKMvtoGp7YcvI/kdwOU6o4PgGcl10HhpEnQ0bSKtaYq
XsfbSEFN9KxAvtTzbf+h5/P4OHJtnyp6VOrx3AhKkIIq3XthcYfZufZgJnhqD4bL
7CDXrwoEqELz3AXDAVPSk3AzqCLm56DrwRSLmF1fIqQ/LOK8a/hMY/xjMaUaBEcA
bIZOL6UI0oOJVEyIMRtp5VddcuL6SaXS9d9sF5l9xePWkLWPwoa3dy8TyS9JWfdG
VoBFrCTjneCFjDNlWyAsgFzlzzJCafRLt3QDsVn0bjWE6v9xKAz7DJSoIIlGgJbV
FijUHuRVzqr9By7bWn4mxL11XCARh6/nNeg/JLZnjG84DZEsL13DefJ5DUN8T4D+
QaVzmRrX1CRrhLM95ko88+eVG1NM5D3c9h9Kj3iJu3tJuF+rcbNk+tJimvpW0XMN
E7lZ2MYFA8ikZ7Zd/LzAI5jMP0HoRDMfUlzb9B3dOntd7RNrWkDrUg3+Clf6887s
0QrTsZsQ7C5YKcaHEgKPAWIDWtNvjfun8HsmWcyuhaSZhuDQpPlTS6EcB9jcLTQU
JGSKnKJc3t/UISnQMq95X/498RYvjZqtU/urtahjkW3W9zm9gEDcnnoBlobPDgU0
XTVPrT+J+0q4oT2bln1P41jmp/Lscuv/SlEo4oTklePMVdQhzJmvEDebfTOE1Jkw
wIHVKxQhcgaL8HDlJHSPOv3PMWDFha38sZShhvqK5+9WoqH1mNGFyQtNu7OXnhgl
6oADSQ96hcykNhGyVnkgCOHrvRDATooL7f23ddxHBsLE0eNDThaLd4tw6MW267HG
XNwpQJpld719knxnJCBb1A2F48CNMdYY9V2I0Zd1K7OgqfGeyIJ1J1tlXowYAPI6
ab5iFwxw+rK8EYwDHhZraqvDHmNSyIwml3m9Is7cIde/7UnlQw/wM46DklmGBj+C
sV9uFmmJkY7OXCH59D1ucOgVKKBWLYmo346fEK8yIbtpBPnmL2kOKw/oeaw9GT4Z
I5LlxQA3CYGGxGLuxI3cqKnRT15xpzToyH09h1u/iY+0E8LGaazTczPcaH7RDWfv
PJP3dT1r7Zkbj+0vOZ2WgyhR8a4rZ6acwqNIHkMX9D05WSi9f9C0SOMSSONcVqe+
42LqQRRt90hYscN/+FOAJEf5XWrwudqBKawx5K72orLDOoFIe1p9hKNMaDmSJcwd
WHIwBu2AdCAp4ntAUN3xMsFzWw6vTTWXygR2NhoJiRwcRwfeyra/HY/mvTZOcExt
ygOrIY99Uu/1vSpxymX/kAD4kUoW6v/Tp0fFPyiz6qVkjkKtPIxsAio675tfqs/v
2b9h7IjIg9yAwYE0ceYJM3PW9WghalpTOzYPmLW0uqxEdMuEPuoYnbPGn0Vwokxi
SgWrV1YgGmJ9n1itig==</string>
</dict>
</plist>
