<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliPayKey</key>
	<string>MIICeAIBADANBgkqhkiG9w0BAQEFAASCAmIwggJeAgEAAoGBALwQTp5ZfqWJdM5X
Wol/Tu9/Ubi65LSZ+GJGMRsvx200H9u48iZYdIxVCOg4M6LLnovAMRfZNTeNuyv+
hJlkC2fR4JcN1g+vNyARZXEnsusEo0DNGrTz6DpN8C5gNOlPqT9lOP7N6/ynZZDO
SlkG0JUWxDYrlvyAMmaUmwy/O7cBAgMBAAECgYEAtM801xeSJNNIIw5nNGTa3nZZ
erLtKhoSbWGw2sOQCBUiQBzLa0SGIVmsK5/FPVJpR1FrodMqUBQLDVwx3kwKjYsQ
1Jdhvkmdlwyij5brKwzvmkxMGeEq1wru2YD0rKEndblYzMS/YzGyY5O4graxKCFC
MqYuomB12ExTEbVOHVUCQQDmrO43Ptt+iMySsj2647SNuVgebWuBrO/MYb8hO2Ci
Y7xBm5ce1odoW+10RA2XD8mrp5mBMl8gGr+rBIOr9iqzAkEA0LXIpmUgMfL3Yjyg
wYvnEhsswb8gXXJnUS4DAsURL/Neak2nVdhrzb67rxoCnbvNUGiy0Kb+CSQgSYUf
JkuBewJAL1D7kCN5nIvtAo5DMUmx6HxDQgKJ0dCqY48NSIDIgqbYn9CNgArbPaHV
pEqtSvY3FNnNF/5AGvLBrA/B/o0BFwJBAJ87EWphnL5+794zAzKm2hQmR29JsheZ
QNnekM18LDC5LD9OH2yPQTAnZGmjHnvY3DuMpWArB4VR2pA80BcXZCECQQC9nZcu
LdqONfcIwjvd1d3KUa9eLhYSJhngEIfMhl/l3sHWnE8oZAxCGwplyYMgn22Tlitp
toodNtijE2fX4LgG</string>
	<key>aliPayPublicKey</key>
	<string>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCnxj/9qwVfgoUh/y2W89L6BkRAFljhNhgPdyPuBV64bfQNN1PjbCzkIM6qRdKBoLPXmKKMiFYnkd6rAoprih3/PrQEB/VsW8OoM8fxn67UDYuyBTqA23MML9q1+ilIZwBC2AQ2UBVOrFXfFl75p6/B5KsiNG9zpgmLCUYuLkxpLQIDAQAB</string>
</dict>
</plist>
