<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliPayKey</key>
	<string>MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBAKWlmYs7w8ZkqX3UueEhYjPGiumUVasEqWrvgDoBTNte8XwqtvGf5Lv8iq90oiCFzGWGZkxHSz4zDCWUES/5qqZNhZxv0VCqIxcQdUYn07ikZXe0IhnwuQ1yhxoAv5ceEoCI3FxyBPC0ZlM7IvBpRNzCZiluQdaxEOPxztlYLrypAgMBAAECgYAH1I4vkMGubS+97QJkbAmSXP5Q	EF0EWpIPpgavt0QE0rYjonlHbsGHSWbc6GyJkQmaewH29R/PbuZSGG+/jtPMOT2BuqoPE0l06z2rHZ0EfkHoW1MtxlTlS8Z4fBX48OCsUUpwZT60+ztTX0Arg5HKh94hRMAzj8zUgUzerd3CIQJBANa1tEGRpYsSLl+YUu9YohHLOn/G73XGAIgMjgpHBrj0MIwSSw4DUboK2TRmTeTsRupJ8BoLalOedaDPJNW8lEUCQQDFgH+NS5bY8tAsb1kVw3d6xVLAtPsWvd1tuIAuyh8dwSr4bgolHQlqYjPntE7ptnMANzvmhLwGJzV0Flk4iPcVAkEAgC7evL6NTGfAU8YGzWnm6CSieiJ0V6WsL4z/R9d7hfQS/6z0LhuBMUbEwenJ2z/MXpdhxsrF4cIai7TfUtNQ2QJBAKxiNfKr0WRWuyCtp4H5dCWyaUJONQJqggSsjyVHwdUEr27bDPvL1lYGlOteU6pmVwYPL7dKj5qHSn6iqwlPcukCQFP5ntLOuLfED/39Ltapf7C4DTyBh/KdCNDx+o9bvC2XGkm3H77egJwvV/v+bbjfjJ+Z8PEo79CfxlP6ES6UT+w=</string>
	<key>aliPayPublicKey</key>
	<string>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCnxj/9qwVfgoUh/y2W89L6BkRAFljhNhgPdyPuBV64bfQNN1PjbCzkIM6qRdKBoLPXmKKMiFYnkd6rAoprih3/PrQEB/VsW8OoM8fxn67UDYuyBTqA23MML9q1+ilIZwBC2AQ2UBVOrFXfFl75p6/B5KsiNG9zpgmLCUYuLkxpLQIDAQAB</string>
	<key>passwordKey</key>
	<string>MIIE6TAbBgkqhkiG9w0BBQMwDgQIn8MREpuFFHcCAggABIIEyDgOp1I6wosRaV53
9/fQhZk0f+SQ+KruzhLPw6ONLse1pJavzDLXgipuO8JnBcN6ltH71bVAl0BfZ01F
f7uk3km+KCr1b/EaDQ0HFAEClB1v9bot1nruPSzF+wxgwbpvQLikzVLaDnIMBE4C
gQ68ig7NvZf6YJStWu1cfmc6CDsPFK98cV17kUzCaiE4y+O56CDomONom2eAX1bB
r3ByBTX9pwopTR0VtqBE7NKMvtoGp7YcvI/kdwOU6o4PgGcl10HhpEnQ0bSKtaYq
XsfbSEFN9KxAvtTzbf+h5/P4OHJtnyp6VOrx3AhKkIIq3XthcYfZufZgJnhqD4bL
7CDXrwoEqELz3AXDAVPSk3AzqCLm56DrwRSLmF1fIqQ/LOK8a/hMY/xjMaUaBEcA
bIZOL6UI0oOJVEyIMRtp5VddcuL6SaXS9d9sF5l9xePWkLWPwoa3dy8TyS9JWfdG
VoBFrCTjneCFjDNlWyAsgFzlzzJCafRLt3QDsVn0bjWE6v9xKAz7DJSoIIlGgJbV
FijUHuRVzqr9By7bWn4mxL11XCARh6/nNeg/JLZnjG84DZEsL13DefJ5DUN8T4D+
QaVzmRrX1CRrhLM95ko88+eVG1NM5D3c9h9Kj3iJu3tJuF+rcbNk+tJimvpW0XMN
E7lZ2MYFA8ikZ7Zd/LzAI5jMP0HoRDMfUlzb9B3dOntd7RNrWkDrUg3+Clf6887s
0QrTsZsQ7C5YKcaHEgKPAWIDWtNvjfun8HsmWcyuhaSZhuDQpPlTS6EcB9jcLTQU
JGSKnKJc3t/UISnQMq95X/498RYvjZqtU/urtahjkW3W9zm9gEDcnnoBlobPDgU0
XTVPrT+J+0q4oT2bln1P41jmp/Lscuv/SlEo4oTklePMVdQhzJmvEDebfTOE1Jkw
wIHVKxQhcgaL8HDlJHSPOv3PMWDFha38sZShhvqK5+9WoqH1mNGFyQtNu7OXnhgl
6oADSQ96hcykNhGyVnkgCOHrvRDATooL7f23ddxHBsLE0eNDThaLd4tw6MW267HG
XNwpQJpld719knxnJCBb1A2F48CNMdYY9V2I0Zd1K7OgqfGeyIJ1J1tlXowYAPI6
ab5iFwxw+rK8EYwDHhZraqvDHmNSyIwml3m9Is7cIde/7UnlQw/wM46DklmGBj+C
sV9uFmmJkY7OXCH59D1ucOgVKKBWLYmo346fEK8yIbtpBPnmL2kOKw/oeaw9GT4Z
I5LlxQA3CYGGxGLuxI3cqKnRT15xpzToyH09h1u/iY+0E8LGaazTczPcaH7RDWfv
PJP3dT1r7Zkbj+0vOZ2WgyhR8a4rZ6acwqNIHkMX9D05WSi9f9C0SOMSSONcVqe+
42LqQRRt90hYscN/+FOAJEf5XWrwudqBKawx5K72orLDOoFIe1p9hKNMaDmSJcwd
WHIwBu2AdCAp4ntAUN3xMsFzWw6vTTWXygR2NhoJiRwcRwfeyra/HY/mvTZOcExt
ygOrIY99Uu/1vSpxymX/kAD4kUoW6v/Tp0fFPyiz6qVkjkKtPIxsAio675tfqs/v
2b9h7IjIg9yAwYE0ceYJM3PW9WghalpTOzYPmLW0uqxEdMuEPuoYnbPGn0Vwokxi
SgWrV1YgGmJ9n1itig==</string>
	<key>passwordKey1</key>
	<string>-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC6cWfSWI86G5CLd+ebqPT49jUX
6IoonP90EoKau5eSv+yFv6ZfHPdhopnRH6hviuy5hN4aSmYAnfyoVsTN9vJfWPly
wpQOoXeWHF1J+qDqfo7S1TOKtuJvg+Au0B9mHUDBrIvUfWW6ZnZEbHDgEWxRmAQ4
8KgXLoWBo0EORQBq0QIDAQAB
-----END PUBLIC KEY-----</string>
	<key>passwordKey2</key>
	<string>-----BEGIN PUBLIC KEY-----
AAAAB3NzaC1yc2EAAAABIwAAAQEAtVhJT2fMs3tD52NTJpaFVVWf/0KQYlnwMT786Mxqg34+7ynm98fXNDQryr/GTY7699VGkG/Hez0SGwcNR0/j3zOyS0wnXWL/DvhxWyqDeAxeRJ+ast++jjS8lv94TwtpDg2VwNsHTbjk5ysADU2s8fVeTuSPzjGCCkqi4ijutDNONZDNPrVI+UGBOa1LKCYqepAiF8OQ2xTL8B2qst4/RCSy+2IpYh0x0JyTcxMOIC7OyFe6sUgQDv17yUE83nw60ZrZIhw/Dz+C4ajsgGYPqCln/An0uI+h3eJodCZvex0g9ust2V2d5pzyQMH1QIt42MDZgK0Yf3eO6xzde2XrYQ==
-----END PUBLIC KEY-----</string>
</dict>
</plist>
