<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name_to_class</key>
	<dict>
		<key>manwu_commodity_list</key>
		<string>ManWuCommodityListViewController</string>
		<key>manwu_commodity_list_discount</key>
		<string>ManWuCommodityListForDiscountViewController</string>
		<key>manwu_commodity_detail</key>
		<string>ManWuCommodityDetailViewController</string>
		<key>manwu_commodity_buy_info</key>
		<string>ManWuCommodityBuyViewController</string>
		<key>manwu_commodity_list_favorite</key>
		<string>ManWuCommdityFavoriteListViewController</string>
		<key>manwu_commodity_list_search</key>
		<string>ManWuCommoditySearchListViewController</string>
		<key>manwu_address_select</key>
		<string>ManWuAddressSelectViewController</string>
		<key>manwu_address_manager</key>
		<string>ManWuAddressManagerViewController</string>
		<key>manwu_address_edit</key>
		<string>ManWuAddressEditViewController</string>
		<key>login</key>
		<string>ManWuLoginViewController</string>
		<key>manwu_register_view</key>
		<string>ManWuRegisterViewController</string>
	</dict>
	<key>object_list</key>
	<array>
		<dict>
			<key>name</key>
			<string>login</string>
			<key>class</key>
			<string>ManWuLoginResolver</string>
		</dict>
		<dict>
			<key>name</key>
			<string>manwu_discover_url</string>
			<key>class</key>
			<string>KSHomeURLResolver</string>
		</dict>
		<dict>
			<key>name</key>
			<string>manwu_myinfo_url</string>
			<key>class</key>
			<string>KSHomeURLResolver</string>
		</dict>
		<dict>
			<key>name</key>
			<string>manwu_home_url</string>
			<key>class</key>
			<string>KSHomeURLResolver</string>
		</dict>
	</array>
</dict>
</plist>
